@{
  Layout = "_Layout";
}

@model Gather.Models.Seeker

<h2>Add a Job</h2>

<h4>Add a job to this seeker: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.SeekerId)

  @Html.Label("Select jobId")
  @Html.DropDownList("jobId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>