@{
  Layout = "_Layout";
}

@model Gather.Models.Seeker

<h2>Seekers Details</h2>
<hr />

<h3><b>@Html.DisplayNameFor(model => model.Name):</b> @Html.DisplayFor(model => model.Name)</h3>
<h3><b>@Html.DisplayNameFor(model => model.Email):</b> @Html.DisplayFor(model => model.Email)</h3>
<h3><b>@Html.DisplayNameFor(model => model.PhoneNumber):</b> @Html.DisplayFor(model => model.PhoneNumber)</h3>
<h3><b>@Html.DisplayNameFor(model => model.Birthdate):</b> @Html.DisplayFor(model => model.Birthdate)</h3>
<h3><b>@Html.DisplayNameFor(model => model.Education):</b> @Html.DisplayFor(model => model.Education)</h3>
<h3><b>@Html.DisplayNameFor(model => model.SkillSet):</b> @Html.DisplayFor(model => model.SkillSet)</h3>
<h3><b>@Html.DisplayNameFor(model => model.GitHubLink):</b> @Html.DisplayFor(model => model.GitHubLink)</h3>
<h3><b>@Html.DisplayNameFor(model => model.LinkedLink):</b> @Html.DisplayFor(model => model.LinkedLink)</h3>
<h3><b>@Html.DisplayNameFor(model => model.AboutMe):</b> @Html.DisplayFor(model => model.AboutMe)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This seeker does not contains any Jobs</p>
}
else
{
  <h4>Jobs for this Seekers:</h4>

  @foreach(var join in Model.JoinEntities)
  {
    <p>@join.Job.Name</p>
    @using (Html.BeginForm("DeleteJob", "Seekers"))
    {
      @Html.Hidden("joinId", @join.JobSeekerId)
      <input type="submit" value="Delete"/>
    }
  }
  
}


<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Seeker", "Edit", new { id = Model.SeekerId })</p>
<p>@Html.ActionLink("Delete Seeker", "Delete", new { id = Model.SeekerId })</p>