@{
  Layout = "_Layout";
}

@model Gather.Models.Job

<h2>Job Details</h2>
<hr />

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>
<h3>@Html.DisplayNameFor(model => model.PostDate): @Html.DisplayFor(model => model.PostDate)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Job does not contains any details</p>
}
else
{
  <h4>JobSeekers for this Job:</h4>
  
  @foreach(var join in Model.JoinEntities)
  {
    <p>@join.Seeker.Name</p>
    @using (Html.BeginForm("DeleteJob", "Job"))
    {
      @Html.Hidden("joinId", @join.JobSeekerId)
      <input type="submit" value="Delete"/>
    }
  }
  
}

<p>@Html.ActionLink("Apply for job", "Create" , "Seekers" )</p>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Job", "Edit", new { id = Model.JobId })</p>
<p>@Html.ActionLink("Delete Job", "Delete", new { id = Model.JobId })</p>