@{
  Layout = "_Layout";
}

@model Gather.Models.Job

<h2><b>Job Details</b></h2>
<hr />

<h3><b>@Html.DisplayNameFor(model => model.Name)</b>: @Html.DisplayFor(model => model.Name)</h3>
<h3><b>@Html.DisplayNameFor(model => model.Description)</b>: @Html.DisplayFor(model => model.Description)</h3>
<h3><b>@Html.DisplayNameFor(model => model.PostDate)</b>: @Html.DisplayFor(model => model.PostDate)</h3>



<p>@Html.ActionLink("Apply for job", "Create" , "Seekers" )</p>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Job", "Edit", new { id = Model.JobId })</p>
<p>@Html.ActionLink("Delete Job", "Delete", new { id = Model.JobId })</p>