@model Gather.Models.Contact

<h1> Contact Details: @Html.DisplayFor(model => model.CompanyName)</h1>
<hr />

<p>@Html.DisplayNameFor(model => model.FirstName): @Html.DisplayFor(model => model.FirstName)<p>
<p>@Html.DisplayNameFor(model => model.LastName): @Html.DisplayFor(model => model.LastName)<p>
<p>@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)<p>
  <p>@Html.DisplayNameFor(model => model.Location): @Html.DisplayFor(model => model.Location)</p>
  <p>@Html.DisplayNameFor(model => model.Department): @Html.DisplayFor(model => model.Department)</p>
<a href="/Contacts/Edit/@(Model.ContactId)"><p>Edit</p></a>
@using (Html.BeginForm("Delete", "Contacts"))
{
  @Html.Hidden("id", @Model.ContactId)
  <input type ="submit" value="Delete"/>
}
<p>@Html.ActionLink("Home", "Index")</p>

@{
  Layout = "_Layout";
}