@using Gather.Models
@* <h1>All Contacts:</h1>


 <ol>
@foreach (Contact contact in Model)
{
    <ul>
        <li>First Name: @contact.FirstName</li>
        <li>Last Name: @contact.LastName</li>
        <li>Email: @contact.Email</li>
        <li>Company Name: @contact.CompanyName</li>
    </ul>
    <a href="/Contacts/Details/@(contact.ContactId)"><p>View Details</p></a>
    <br>
}
</ol>


<p>@Html.ActionLink("Create a new contact", "Create")</p> *@

@using (Html.BeginForm("Search", "Contacts"))
  {
    <p>
        Find contact by company website: @Html.TextBox("companyName")  
        Find contact by location: @Html.TextBox("location") 
        <input type="submit" value="Search" />
    </p>
  }
