@using Gather.Models

    @foreach (Contact contact in Model)
    {
        <ul>
        <li><b>First Name: </b> @contact.FirstName</li>
        <li><b>Last Name: </b> @contact.LastName</li>
        <li><b>Email Address: </b> @contact.Email</li>
        <li><b>Organization: </b>  @contact.CompanyName</li>
        <li><b>Location: </b> @contact.Location</li>
        <li><b>Department:</b>  @contact.Department</li>
        </ul>
    }

@{
  Layout = "_Layout";
}
